*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color1);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-color: var(--color8);
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.container{
    max-width:1160px;
    width:100%;
    padding:0px 25px;
    margin:0 auto;
}
.flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}
.sectionPadding{
    padding:35px 0px;
}
.title h2 {
    font-size: 28px;
    line-height: 70px;
    padding-bottom: 35px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}