@media only screen and (max-width: 1200px) {
  /*start collection section */
  .collectionContent {
    grid-template-columns: repeat(2,1fr);
  } 
  /*start collection section */
}
@media only screen and (max-width: 991px) {
  /*start banner section */

  .bnrTxt h1 {
    font-size: 40px;
    line-height:55px;
  }
  
  /*end banner section */

  /*start marketPalce section */ 
  .marketPalce ul{
    grid-template-columns: repeat(5,1fr);
    grid-row-gap:20px;
  } 
  /*end marketPalce section */  
}
@media only screen and (max-width: 767px) {
  /*start header section */

  .headerBars {
    display: block;
  }
  .menu {
    display: none;
  }
  .headerMenu a {
    padding-left: 0px;
  }
  
  /*end header section */  

  /*start banner section */
  .banner.flex {
    flex-direction: column;
  }
  .bnrImg {
    width:70%;
    order:1;
  }
  .bnrTxt {
    width:100%;
    order:2;
    text-align:center;
  }
  /*end banner section */

  /*end marketPalce section */ 
  .marketPalce ul{
    grid-template-columns: repeat(4,1fr);
  } 
  /*end marketPalce section */    
}

@media only screen and (max-width: 575px) {
  /*start banner section */
  .bnrImg {
    width:90%;
  }
  .bnrTxt h1 {
    font-size: 28px;
    line-height:40px;
  }

  /*end banner section */
  
  /*end marketPalce section */ 
  .marketPalce ul{
    grid-template-columns: repeat(2,1fr);
  } 
  /*end marketPalce section */
  /*start collection section */
  .collectionContent {
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 0px;
  } 
  /*start collection section */
}
@media only screen and (max-width: 400px) {
  /*start header section */

  .headerLogo h2 {
    font-size: 19px;
  }
  .headerBars a {
    font-size: 21px;
  }
  
  /*end header section */  
}